
container{
  width: 100%;
  margin: 0;
  padding: 0;
}

.hero img{
  border-radius: 0;
}

.bubble {
  text-align: center;
  float: inherit;
}
.unicorn {
  text-align: center;
  float: inherit;
  margin: 0 25px 25px 0;
}